---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContentsSample from '../components/contentsSample.astro';
import '../styles/pages/fix.scss';

const pageData = {
  title: 'フィックス型レイアウト',
  descriptions: ['このページはフィックス型レイアウトのサンプルです。', 'フィックス型レイアウトのポイントはコンテンツの幅が固定されていることです。', '○○であることがメリットである一方で、○○であるデメリットも存在します。'],
};
---

<BaseLayout pageData={pageData}>
  <ContentsSample pageData={pageData} />

  <div class="p-control">
    <div class="p-control_form">
      <label for="control_input" class="p-control_label">コンテンツ幅：</label>
      <input type="number" id="control_input" value="980" min="100" step="10" class="p-control_input" /> px
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const $controlInput = document.getElementById('control_input');

      // コンテンツ幅をページに反映
      $controlInput.addEventListener('change', () => {
        const inputVaule = $controlInput.value;

        if (!inputVaule || inputVaule < 100) return;

        document.querySelectorAll('.p-inner').forEach((element) => {
          element.style.width = `${inputVaule}px`;
        });
      });
    });
  </script>
</BaseLayout>
