---
import '../styles/components/footer.scss';
---

<footer class="l-footer">
  <div class="l-footer_inner p-inner">
    <p class="l-footer_logo">レイアウトサンプル</p>
    <p class="l-footer_text">このページは社内向け資料のサンプルとして作られました。<br />ご不明な点は思い当たる担当者までお問い合わせください。</p>
    <ul class="l-footer_menu">
      <li class="l-footer_menu_item"><a href="#" class="l-footer_menu_button">サブメニュー1</a></li>
      <li class="l-footer_menu_item"><a href="#" class="l-footer_menu_button">サブメニュー2</a></li>
      <li class="l-footer_menu_item"><a href="#" class="l-footer_menu_button">サブメニュー3</a></li>
      <li class="l-footer_menu_item"><a href="#" class="l-footer_menu_button">サブメニュー4</a></li>
      <li class="l-footer_menu_item"><a href="#" class="l-footer_menu_button">サブメニュー5</a></li>
      <li class="l-footer_menu_item"><a href="#" class="l-footer_menu_button">サブメニュー6</a></li>
    </ul>
  </div>
  <p class="l-footer_copyright">Copyright &copy; Sample Example Co., All Rights Reserved.</p>
</footer>
