---
import '../styles/components/header.scss';
---

<header class="l-header">
  <div class="l-header_inner p-inner">
    <p class="l-header_logo">レイアウトサンプル</p>
    <ul class="l-header_globalMenu">
      <li class="l-header_globalMenu_item"><a href="#" class="l-header_globalMenu_button">メニュー1</a></li>
      <li class="l-header_globalMenu_item"><a href="#" class="l-header_globalMenu_button">メニュー2</a></li>
      <li class="l-header_globalMenu_item"><a href="#" class="l-header_globalMenu_button">メニュー3</a></li>
      <li class="l-header_globalMenu_item"><a href="#" class="l-header_globalMenu_button">メニュー4</a></li>
    </ul>
  </div>
</header>
