---
import { Image } from 'astro:assets';

// Splide
import '@splidejs/splide/css';

// Splide Image
import image1020 from '../images/1020-1920x500.webp'; // https://fastly.picsum.photos/id/1020/1920/720.webp?hmac=wZJv9gGi41oFdAA-2-yaJCZTabX0C1RLfYygS7SAJE8
import image971 from '../images/971-1920x500.webp'; // https://fastly.picsum.photos/id/971/1920/720.webp?hmac=3UGsaz8MtuKaPRS5CWYf8Wo9SVQv1R9IVKcn14GysEA
import image987 from '../images/987-1920x500.webp'; // https://fastly.picsum.photos/id/987/1920/720.webp?hmac=mPCMkRFUHEp6bjUq4jRfJ-qpL0Dvn4M8dJxrhgiJY-8
---

<div id="mainVisualSplide" class="splide">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <Image src={image1020} decoding="sync" alt="" class="c-mainVisual_background_image" />
      </li>
      <li class="splide__slide">
        <Image src={image971} decoding="sync" alt="" class="c-mainVisual_background_image" />
      </li>
      <li class="splide__slide">
        <Image src={image987} decoding="sync" alt="" class="c-mainVisual_background_image" />
      </li>
    </ul>
  </div>
</div>
<script>
  import Splide from '@splidejs/splide';
  new Splide('#mainVisualSplide', {
    type: 'fade',
    speed: 800,
    rewind: true,
    arrows: false,
    pagination: false,
    easing: 'ease-out',
    autoplay: true,
    interval: 3200,
  }).mount();
</script>
